@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  main {
    min-height: 100vh;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 36px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  h1,
  h2,
  h3 {
    font-family: theme(fontFamily.heading);
  }

  p,
  a,
  span,
  input::placeholder {
    font-family: theme(fontFamily.sans);
  }

  p,
  ul,
  a,
  button {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 35px;
  }

  a {
    transition: all 0.2s ease-in-out;
  }

  .btn-primary {
    @apply font-semibold border-2 rounded-full  p-5 max-w-sm;
  }

  .btn-link {
    @apply text-white bg-kleinBlue w-48 flex items-center justify-between px-4 py-1 border border-black rounded-full;
  }

  input::placeholder {
    color: white;
    font-size: 20px;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none; */
  }

  input[type="checkbox"]::after {
    border: 2px solid black;
  }

  #LogMarChart path {
    padding: 3px;
    /* transition: 0.3s; */
    filter: blur(20px);
  }

  .scrollBrille {
    /* width: 550px; */
    /* height: fit-content; */
    /* z-index: 20; */
    /* right: -150px; */
    /* top: 150px; */
  }

  @media (min-width: 1024px) {
    .scrollBrille {
      width: 1100px;
    }
  }

  /* #LogMarChart path:nth-child(-n + 3 of .blur) {
    animation: blurry 10s linear 8s infinite;
  } */

  /* .blowMeAway {
    transition: transform 1s ease-in-out;
  }

  .blowMeAway.v.active {
    transform: translate(-7%, 10%);
  }

  .blowMeAway.d.active {
    transform: translate(-8%, 100%);
  }

  .blowMeAway.n.active {
    transform: translate(-100%, 50%);
  }

  .blowMeAway.k.active {
    transform: translate(-100%, 300%);
  }

  .blowMeAway.s.active {
    transform: translate(150%, 30%);
  }

  .blowMeAway.nn.active {
    transform: translate(-80%, -200%);
  }

  .blowMeAway.nnn.active {
    transform: translate(100%, -150%);
  }

  .blowMeAway.kk.active {
    transform: translate(100%, 50%);
  }

  .blowMeAway {
    transform: translate(0px, 0px);
  } */

  #LogMarChart path:hover {
    filter: blur(0px);
  }

  /* Animation */
  @keyframes blurry {
    0% {
      filter: blur(20px);
    }
    50% {
      filter: blur(5px);
    }
    100 {
      filter: blur(20px);
    }
  }
}
