@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* GLOBALS - - - - - - - - - - */
  * {
    margin: 0;
  }

  html {
    overflow-x: hidden;
    position: relative;
  }

  body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }

  main {
    min-height: 100vh;
    overflow-x: hidden;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 36px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  h1,
  h2,
  h3 {
    font-family: theme(fontFamily.heading);
  }

  p,
  a,
  span,
  input::placeholder,
  label {
    font-family: theme(fontFamily.sans);
  }

  p,
  ul,
  button,
  label,
  input {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
  }

  a {
    transition: all 0.2s ease-in-out;
  }

  .btn-primary {
    @apply font-semibold border-2 rounded-full  p-5 max-w-sm;
  }

  .btn-link {
    @apply text-white bg-green361 w-48 flex items-center justify-between px-4 py-1 border border-black rounded-full;
  }

  input::placeholder {
    font-size: 20px;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid white;
  }

  input[type="checkbox"]::after {
    border: 2px solid black;
  }

  #container {
    /* position: absolute; */
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
  }

  #text,
  #text1,
  #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 80pt;
    text-align: center;
    user-select: none;
  }

  /* ANIMATIONS - - - - - - - - - - */
  @keyframes animate-in {
    0% {
      /* transform: translateY(15px); */
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  [data-animate-in] {
    animation: animate-in 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  [data-animation-order="1"] {
    animation-delay: 0.1s;
  }

  [data-animation-order="2"] {
    animation-delay: 0.15s;
  }

  [data-animation-order="3"] {
    animation-delay: 0.2s;
  }

  [data-animation-order="4"] {
    animation-delay: 0.25s;
  }

  [data-animation-order="5"] {
    animation-delay: 0.3s;
  }

  [data-animation-order="6"] {
    animation-delay: 0.35s;
  }

  [data-animation-order="7"] {
    animation-delay: 0.4s;
  }

  [data-animation-order="8"] {
    animation-delay: 0.45s;
  }

  [data-animation-order="9"] {
    animation-delay: 0.5s;
  }
}
